<main class="bg-primary">
  <app-navbar></app-navbar>
  <section class="login-container">
    <div class="sign-in bg-white" *ngIf="showLogin">
      <div class="section-wrapper h-100 w-100">
        <div class="main-title mb-2">Log in to Quiz</div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form p-4">
          <div class="p-field">
            <label for="username">Username <span class="required-asterisk">*</span></label>
            <input id="username" pInputText class="w-100" formControlName="username" />
          </div>
          <div class="p-field">
            <label for="password">Password <span class="required-asterisk">*</span></label>
            <input id="password" pPassword class="w-100" formControlName="password" />
          </div>
          <button pButton type="submit" label="Proceed"
            class="bg-primary-complementary no-border my-1 mt-3 mb-0 w-100"></button>
          <div *ngIf="loginError" class="error-message">Invalid username or password.</div>
        </form>
      </div>
      <div class="image-wrappper">
        <img alt=""
          [src]="imageURL | safeURL">
      </div>
    </div>
    <p-progressSpinner ariaLabel="loading" *ngIf="!showLogin" />
  </section>
</main>
