<div class="login-container">
  <div><h2>Login</h2></div>
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="p-field">
      <label for="username">Username:</label>
      <input id="username" pInputText [(ngModel)]="username" name="username" required />
    </div>
    <div class="p-field">
      <label for="password">Password:</label>
      <input id="password" pPassword [(ngModel)]="password" name="password" required />
    </div>
    <button pButton type="submit" label="Login"></button>
    <div *ngIf="loginError" class="error-message">Invalid username or password.</div>
  </form>
</div>
