<div class="top-bar bg-primary" (mouseleave)="closeDropdown()">
  <div class="top-bar left">
    <div class="top-bar title" (click)="navigateToDashboard()">
      Dynamic Quiz
    </div>
  </div>
  @if (currentRoute && currentRoute !== '/login') {
    <div class="top-bar right">
      <div class="user-profile-container">
        <a class="user-name text-white" href="https://www.linkedin.com/in/saravana-tn47" target="_blank">SARAVANA</a>
        <p-avatar class="user-profile" label="U" styleClass="mx-2 mt-1"
          [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }" (click)="toggleDropdown()" />
          @if (isDropdownVisible) {
            <div class="dropdown-menu">
              <button (click)="logout()">Logout</button>
            </div>
          }
        </div>
      </div>
    }
  </div>
