<main class="bg-primary">
  <app-navbar></app-navbar>
  <div class="container-wrapper bg-white w-100 h-100">
    <div class="top-menu p-3">
      <div class="top-title ml-4 pl-1 pt-2">
        Dashboard
      </div>
      <p-button label="New Quiz" icon="pi pi-plus p-mb-3" class="action-button" (click)="newTest()"></p-button>
    </div>
    <div class="result-grid-wrapper p-5">
      <p-table [value]="tests" [paginator]="true" [rows]="5" styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:25%">Test ID</th>
            <th style="width:25%">Status</th>
            <th style="width:25%">Marks</th>
            <th style="width:25%">Completed</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-test>
          <tr [ngClass]="{'highlighted': test === lastSubmittedTest}">
            <td>{{ test.id }}</td>
            <td><span class="quiz-status" [ngClass]="test.status == 'Pass' ? 'pass':'fail'">{{ test.status }}</span>
            </td>
            <td>{{ test.marks + " / " + test.totalMarks }}</td>
            <td>{{ test.completed | timeAgo }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</main>
