<main class="bg-primary">
  <app-navbar></app-navbar>
  <div class="container-wrapper bg-white w-100 h-100">
    <div class="top-menu p-3">
      <div class="top-title ml-4 pl-1 pt-2">
        Dashboard
      </div>
      <p-button label="New Quiz" icon="pi pi-plus p-mb-3" class="action-button" (click)="newTest()"></p-button>
    </div>
    <div class="result-grid-wrapper p-5">
      <p-table [value]="tests" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Test ID</th>
            <th>Status</th>
            <th>Marks</th>
            <th>Completed</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-test>
          <tr [ngClass]="{'highlighted': test === lastSubmittedTest}">
            <td>{{ test.id }}</td>
            <td>{{ test.status }}</td>
            <td>{{ test.marks + " / " + test.totalMarks }}</td>
            <td>{{ test.completed | date : "short" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</main>
