.container-wrapper{
  .p-table {
    width: 100%;
    border-collapse: collapse;

    th,td{
      padding: 0.75em;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
    }
  }

  .p-button {
    margin-bottom: 1em;
  }

  .top-menu{
    display: flex;
    justify-content: space-between;
    .top-title{
      font-size: 1.2rem;
      color: #4d4b4b;
      font-weight: 500;
      letter-spacing: 0.02rem;
    }
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight, .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #ecdcfd;
    border-color: #ecdcfd;
    color: #8854c0;
  }

  .p-dropdown:not(.p-disabled):hover {
    border-color: #a774dd;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ecdcfd;
    border-color: #a774dd;
  }

  .highlighted {
    background-color: #fff4b5;
  }

  .result-grid-wrapper{
    .p-element .p-datatable{
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.quiz-status {
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.1;
  letter-spacing: 0.6px;

  &.pass{
    background-color: #dff3ea;
    color: #36b37e;
  }

  &.fail{
    background-color: #fde1df;
    color: #f44336;
  }
}


