.question-container {
  display: flex;
  align-items: center;
}

.answered-indicator {
  font-size: 1.5em;
  color: green;
  margin-right: 0.5em;
}

.answered-indicator i {
  font-size: 2em;
}

.button-group {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.p-button-primary {
  background-color: #007ad9;
  color: white;
}

.p-button-secondary {
  background-color: #e0e0e0;
  color: black;
}

.quiz-wrapper {
  display: flex;
  justify-content: center;
  height: calc(100% - 0px);

  .quiz-section {
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: calc(100% - 65px);
  }

  .question-content {
    .question-pagination {
      font-size: 1.2rem;
      font-weight: 600;

      .text-total {
        color: #d0cedb;
      }
    }

    .quiz {
      font-size: 1.8rem;
      font-weight: 500;
      color: #2f2f2f;
    }

    .button-group-quiz {
      display: flex;
      flex-direction: column;
    }

    .button-group-row {
      display: flex;
      justify-content: space-between;
    }
  }
}

.button-selected {
  background-color: #ffe08b;
  color: rgb(72, 72, 72);
}
